<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>categoryslider</name>
	<displayName><![CDATA[Category slider]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Displays products of a given category on the product page.]]></description>
	<author><![CDATA[Andrew Miller]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>